@using Economiq.Client.Service
@using Economiq.Shared.DTO
@using Economiq.Shared.Models
<style>
    .Modal {
        background-color: rgba(255,255,255,0.8);
        height: 100vh;
        width: 100vw; 
        border: 1px solid black;
        position: absolute; 
        top: 0;
        right: 0;
        z-index:9999;
        display: flex;
        align-items: center;
        justify-content:center;
        flex-direction:column;
        border: 1px solid black;
    }
    .Modal-Body input {
        margin-bottom: 1em;
        text-align: center;
    }
</style>
<div class="Modal">
    <div class="Modal-Body">
            <input class="form-control"  
                   type="text"  
                   placeholder="Add New Category" 
                   value="@currentString" @oninput="OnValueChanged" />
    </div>
    <div class="Modal-footer">
        <button class="btn btn-primary" @onclick="RunSaveNewCategory">Save</button>
        <button class="btn btn-secondary" @onclick ="@RunCloseModalFunction" >Cancel</button>
    </div>
</div>

@code {
    [Parameter]  
    public Action CloseModalFunction { get; set; } 
    [Parameter]
    public Action SaveNewCategoryFunction { get; set; }
    [Parameter]
    public String ExpenseCategoryString { get; set; }
    [Parameter] 
    public EventCallback<string> CategoryChanged { get; set; }
    private void RunCloseModalFunction(){
        CloseModalFunction?.Invoke(); 
    }
    private void RunSaveNewCategory(){
        SaveNewCategoryFunction?.Invoke();
        RunCloseModalFunction();
    }
    protected override void OnInitialized()
    {
        currentString = ExpenseCategoryString;
    }

    private String currentString { get; set; }
    private Task OnValueChanged(ChangeEventArgs e)  
       {  
           currentString = e.Value.ToString();  
           return CategoryChanged.InvokeAsync(currentString);  
       }  
   }  

 }

