@page "/"
@using Economiq.Client.Service
@inject AppState _appState
@inject UserService _userService
@implements IDisposable

  <div class="box">
    <div class="infobox">
      <p class="infobox-boldtext">
            Discover the new<br />Economiq Blazor Edition <br />Can you really afford not to?
         
            <hr />
      </p>
     
     
    </div>
    <div class="infobox">
            <NavLink class="infobox-explorebtn selected" href="dashboard"> <span class="navlink">Dashboard</span></NavLink><br />
            <NavLink class="infobox-explorebtn selected" href="budget"> <span class="navlink">Budget</span></NavLink><br />
            <NavLink class="infobox-explorebtn selected" href="expense"> <span class="navlink">Add expense</span></NavLink><br />
      
            <NavLink class="infobox-explorebtn selected" href="recipient"> <span class="navlink">Add recipient</span></NavLink>
      </div>
    </div>


      

    <div class="footer2">
    Everything you need for taking control over your personal finances<br /><hr />    <span class="footer">Monetary movement AB 2022.</span>
    </div><br />



    <div></div>
@code {

    protected override async Task OnInitializedAsync()
    {
        if (!_appState.IsLoggedIn)
        {
            await _userService.Login();
            _appState.SetUserLoggedIn();
        }
        _appState.SetPageTitle("Economiq");
        _appState.OnStateChange += StateHasChanged;
    }

    public void Dispose()
    {
        _appState.OnStateChange -= StateHasChanged;
    }
}