<div class="navlink">


    <div class="navlinkwrap" >
@*      <NavLink class="navlink" href="" Match="NavLinkMatch.All"></NavLink>*@
            <NavLink class="navlink" href="budget"> <span class="navlink">Budget</span></NavLink>
        <NavLink class="navlink" href="expense"> <span class="navlink">Expense</span></NavLink>
        <NavLink class="navlink" href="recipient"> <span class="navlink">Recipients</span></NavLink>
 
    </div>

@*    <div class="buttonwrap">
        <NavLink class="explorebtn " href="register"> <span class="navlink">Sign up / </span></NavLink>
        <NavLink class="createbtn" href="login"> <span class="navlink">Sign in</span></NavLink>  
    </div>*@
</div>
@code{


}